body {


    font-weight: bolder;
    color: black;
    font-family: 'Kalam', cursive;
    background-color: #ffffff;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
   

}

.jumbotron {
    background-color: #ffffff;

}

#full {
    position: relative;
}


#start h3 {
    text-align: center;
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#currentWord {
    letter-spacing: .2em;
}

#gameplay-column  {
    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat; */
    text-align: center;
    line-height: .02em;
    position: relative;
    

}

#status {
   
    position: absolute;
    /* height: 100%;
    width: 100%; */

    
    
}

#losemessage, #winmessage {
    text-align: center;
    line-height: 2em;
}





