body {


    font-family: Courier New, Courier, monospace;
    font-weight: bolder;
    color: black;
    font-family: 'Kalam', cursive;
    background-color: #ffffff;
   

}

.jumbotron {
    background-color: #ffffff;

}


#start h3 {
    text-align: center;
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#currentWord {
    letter-spacing: .2em;
}
#gamecontainer {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
}
#gameplay-column {
    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat; */
    text-align: center;
    line-height: .02em;
    position: relative;

}

#winimage, #loseimage {
    z-index: 1;
    position: absolute;
    width: 100%;
    Height: 100%;
    
    
}





